:root {
	--pointer: url("../theme/pointer.png");
	--glass: url("../theme/magnifying_glass.png");
	--n: url("../theme/cursor_n.png");
	--ne: url("../theme/cursor_ne.png");
	--e: url("../theme/cursor_e.png");
	--se: url("../theme/cursor_se.png");
	--s: url("../theme/cursor_s.png");
	--sw: url("../theme/cursor_sw.png");
	--w: url("../theme/cursor_w.png");
	--nw: url("../theme/cursor_nw.png");
}

/* ============ Layout ============ */

html {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	width: 98vmin;
    height: 98vmin;
	margin: 1vmin;
}

nav, main, article, #controlPanel, #editorTop, #editorBottom {
	position: absolute;
}

nav, #editorTop {
	width: 100%;
	height: 50%;
	top: 12.5%;
}

main, article, #editorBottom {
	width: 100%;
	height: 24%;
	bottom: 12.5%;
}

#controlPanel {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	width: 100%;
	height: 5%;
	left: 0;
	top: 6.5%;
}

#controlPanel > * {
    height: 50%;
    width: 18%;
}

#controlPanel > .controlIcon {
    height: 100%;
    width: 5%;
	padding-top: 1.1%;
	box-sizing: border-box;
	font-size: 200%;
}

nav > * {
	z-index: 1;
}

.sendToFront {
	z-index: 2;
}

.sendToBack {
	z-index: 0;
}

#editorTop {
	z-index: 3;
}

/* ============ Typesetting ============ */

html {
	font-family: monospace;
	font-size: 2.45vmin;
	line-height: 2.5vmin;
}

#controlPanel {
	font-size: 2.5vmin;
}

#controlPanel a {
	font-size: 2.5vmin;
    box-sizing: border-box;
	user-select: none;
}

/* ============ Colours ============ */

html {
	background: black;
}

main, article, #editorBottom, #editorTop {
	background: #223;
	color: #ddc;
}

/* ============ Article Visibility ============ */

article {
	display: none;
}

article:target {
	display: block;
}

/* ============ Cursors ============ */

[href], [onclick] { cursor: var(--pointer) 0 0, pointer; }

/* ============ Navigation Icons ============ */

.n, .ne, .e, .se, .s, .sw, .w, .nw {
	background-repeat: no-repeat;
}
.n {
	background-image: var(--n) !important;
	background-position: 50% 25% !important;
}
.ne {
	background-image: var(--ne) !important;
	background-position: 75% 25% !important;
}
.e {
	background-image: var(--e) !important;
	background-position: 75% 50% !important;
}
.se {
	background-image: var(--se) !important;
	background-position: 75% 75% !important;
}
.s {
	background-image: var(--s) !important;
	background-position: 50% 75% !important;
}
.sw {
	background-image: var(--sw) !important;
	background-position: 25% 75% !important;
}
.w {
	background-image: var(--w) !important;
	background-position: 25% 50% !important;
}
.nw {
	background-image: var(--nw) !important;
	background-position: 25% 25% !important;
}

/* ============ Accessibility Mode ============ */

.inAccessibilityMode > *[href],
.inAccessibilityMode > *[onclick] {
	background-image: var(--glass); 
	background-position: center;
	background-repeat: no-repeat;
	opacity: 35%;
}
.inAccessibilityMode > *[href]:hover,
.inAccessibilityMode > *[onclick]:hover {
	background-image: var(--glass); 
	background-position: center;
	background-repeat: no-repeat;
	opacity: 100%;
}
.inAccessibilityMode .look { 
	background-image: var(--glass) !important; 
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
}

/* ============ Editor ============ */

.inDragMode {
	pointer-events: none;
}

#editorTop {
	display: flex;
	flex-direction: column;
}

#editorTop textarea {
	flex-grow: 1;
}

#editorBottom select {
	width: 2.2%;
}

.toggleButton {
	margin: 0 .3%;
	min-width: 3%;
	max-width: fit-content;
    display: inline-block;
	text-align: center;
}

#editorBottom button {
	margin-right: 1%;
}

/* ============ Move and Resize Mode ============ */

.moveAndResizeArea > a {
	opacity: 50%;
}

.moveAndResizeArea > *, .toggleButton {
	border: 1px solid;
	background-color: rgba(255, 127, 0, 0.35);
	border-color: rgba(255, 127, 1);
	outline: 1px solid black;
}

.moveAndResizeArea > .editedLink, .toggleButton.editedLink {
	border: 1px solid;
	background-color: rgba(255, 255, 0, 0.35);
	border-color: yellow;
}

/* ======================== */

body {
	overflow: hidden;

	display: flex;
	align-items: center;
    justify-content: center;

	margin: 0;
	background: black;
	
	
	filter: url(#disable-antialiasing);
	cursor: url("../theme/cursor.png"), default;

	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

nav {
	background-size: cover;
	user-select: none;
}

nav, main, article:target {
	background-color: #223;
}

p, pre {
	margin: 1vmin;
	filter: url(#disable-antialiasing);
}

a, a:hover {
	text-decoration: none;
	color: #d7b;
	cursor: url("../theme/pointer.png"), default;
	filter: url(#disable-antialiasing);
}

a[target], a[target]:hover {
	text-decoration: none;
	color: #d75;
	cursor: url("../theme/pointer.png"), default;
}

nav > * {
	position: absolute;
	display: block;
}

nav > .postcard {
	width: 80% !important;
	height: 80% !important;
	left: 10% !important;
	top: 10% !important;
	border: 1em solid white;
	box-sizing: border-box;
}

.fill {
	width: 100%;
	height: 100%;
}

.isVisible {
	visibility: visible;
}

.isHidden {
	visibility: hidden;
}